* {
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	max-width: 90%;
	padding: 50px 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	margin: 5px 0;
	line-height: 1.25;
}

h2 {
	font-size: 2rem;
}

a {
	/* color: var(--tertiary); */
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

/* header {
	background: var(--dark);
}

header a {
	color: var(--light);
} */

nav a:hover {
	text-decoration: none;
}

nav li {
	cursor: pointer;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.nav-margin {
	margin-right: calc(2rem);
	margin-left: calc(2rem);
}
