* {
	box-sizing: border-box;
	margin: auto;
	font-family: "Montserrat", sans-serif;
	/* text-align: center; */
}

main {
	margin: 0 auto;
	max-width: 90%;
	height: 70%vh;
	padding: 50px 30px;
	/* align-items: center; */
}

/* header */

header {
	padding-top: 5vh;
}

header a {
	font-size: 3rem;
	text-decoration: none;
}

header h4 {
	font-size: 1.5rem;
}

a:hover {
	text-decoration: none;
}

.nav {
	justify-content: right;
}

nav li {
	cursor: pointer;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.nav-item {
	margin-right: calc(2rem);
	margin-left: calc(2rem);
}

.nav-link {
	font-size: 15px;
	font-weight: bolder;
}

/* about */
.avatar {
	display: block;
	margin: auto;
	max-width: 170px;
	padding: 10vh 0 5vh 0;
}

.about-me {
	padding-top: 30px;
}

/* portfolio */

.project-image {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	margin: 5px;
	padding: auto;
	width: 300px;
	height: 200px;

	flex: auto;
}

.project-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: flex-start;
	padding-top: 20px;
}
/* portfolio card */

/* resume */
.proficiencies {
	text-align: left;
}

.proficiencies li {
	text-decoration: none;
}

/* contact */

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 10vh; */
}

.input-text {
	text-align: left;
}

.form-group input,
.form-group your-email {
	padding: 15px 20px;
}

.form-group textarea {
	padding: 30px 20px;
}

.form-group input,
.form-group textarea {
	font-size: 15px;
	font-weight: bold;
	width: calc(25rem);
	border: none;
	border-bottom: 1px solid;
}

@media screen and (max-width: 768) {
	.form-group input,
	.form-group textarea {
		width: 400px;
	}
}
@media screen and (max-width: 575) {
	.form-group input,
	.form-group textarea {
		width: 275px;
	}
}

form button {
	margin: auto;
	border: 1px solid;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 10px;
}

.form-box {
	padding-bottom: 10px;
}

/* footer */
footer {
	/* margin: auto; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: inherit;
	bottom: 0;
}

.bi {
	font-size: 30px;
	margin-right: calc(2rem);
	margin-left: calc(2rem);
}
